# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# 환경 설정 파일들
.env
.venv/
env/
venv/
myenv/
ENV/
*.env

# Python 가상 환경 관련
*.pyc
*.pyo
*.pyd

# 설치된 패키지들
pip-log.txt
pip-delete-this-directory.txt

# 배포 관련
dist/
build/
*.egg-info/
eggs/
*.egg

# IDE나 에디터 설정 파일들
.vscode/
.idea/
*.swp
*.swo

# 테스트 관련 파일들
.coverage
*.cover
*.log
.tox/
.nox/
.cache/
pytest_cache/
htmlcov/
junit-xml/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# MyPy 체크 파일
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre 체크 파일
.pyre/

# Pycharm 설정 파일
.idea/

# macOS 관련 파일
.DS_Store

# 기타 운영체제 파일들
Thumbs.db
Desktop.ini

# 패키지
*lib

# report 파일
src/reports/
*.html

# pytest 캐시
.pytest_cache/

# JUnit XML 리포트 파일
test-reports/*.xml